/* css naming을 할 때 반드시 module.css를 붙여줘야만 한다. 이러면 어디서든 불러낼 수 있다.*/
/* [name].module.css */

.container {
    max-width: 36rem;
    padding: 0 1rem;
    margin: 3rem auto 6rem;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.backToHome {
    margin: 3rem 0 0;
}